<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- index.qdoc -->
    <title>西安火眼猴智能科技研究院有限公司</title>
    <link rel="stylesheet" type="text/css" href="../static/style/offline-simple.css" />
<link rel="stylesheet" type="text/css" href="../static/style/tablell_6.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/shurukuang.css">
    <script type="text/javascript">
        document.getElementsByTagName("link").item(0).setAttribute("href", "../static/style/offline.css");
        // loading style sheet breaks anchors that were jumped to before
        // so force jumping to anchor again
        setTimeout(function () {
            var anchor = location.hash;
            // need to jump to different anchor first (e.g. none)
            location.hash = "#";
            setTimeout(function () {
                location.hash = anchor;
            }, 0);
        }, 0);
    </script>
</head>
<body>
    <div class="header" id="qtdocheader">
        <div class="main">
            <div class="main-rounded">
                <div class="navigationbar">
                    <table>
                        <tr>
                            <td>西安火眼猴智能科技研究院有限公司</td>
                        </tr>
                    </table>
                    <table class="buildversion">
                        <tr>
                            <td id="buildversion" width="100%" align="right">西安火眼猴智能科技研究院有限公司</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="content">
                <div class="line">
                    <div class="content mainContent">
                        <div class="sidebar">
                            <div class="toc">
                                <h3><a name="toc">目录</a></h3>
                                <ul>
                                    <li class="level1"><a href="#project-background">一、软件测试</a></li>
                                    <li class="level1"><a href="#achieve-objective">二、软件测试原则</a></li>
                                    <li class="level1"><a href="#functional-module">三、各项目BUG统计</a></li>

                                </ul>
                            </div>
                            <div class="sidebar-content" id="sidebar-content"></div>
                        </div>
                        <h1 class="title">西安火眼猴智能科技研究院有限公司</h1>
                        <span class="subtitle"></span>
                        <!-- $$$qtcore-index.html-description -->
                        <div class="descr">
                            <a name="details"></a>
                            <a name="project-background"></a>
                            <h2 id="project-background">一、软件测试</h2>
                            <p>软件测试的目的就是确保软件的质量、确认软件以正确的方式做了你所期望的事情，所以他的工作主要是发现软件的错误、有效定义和实现软件成分由低层到高层的组装过程、验证软件是否满足任务书和系统定义文档所规定的技术要求、为软件质量模型的建立提供依据。软件的测试不仅是要确保软件的质量，还要给开发人员提供信息，以方便其为风险评估做相应的准备，重要的是他要贯穿在整个软件开发的过程中，保证整个软件开发的过程是高质量的。</p>
							 <p>软件测试时在软件设计及程序编码之后，在软件运行之前进行最为合适。考虑到测试人员在软件开发过程中的寻找Bug、避免软件开发过程中的缺陷、关注用户的需求等任务，所以作为软件开发人员，软件测试要嵌入在整个软件开发的过程中，比如在软件的设计和程序的编码等阶段都得嵌入软件测试的部分，要时时检查软件的可行性，但是作为专业的软件测试工作，还是在程序编码之后，软件运行之前最为合适。
                            </p>
                            <a name="achieve-objective"></a>
                            <h2 id="achieve-objective">二、软件测试原则</h2>

                                <li>1.尽早不断测试的原则</li>
								<p>应当尽早不断地进行软件测试。据统计约60%的错误来自设计以前，并且修正一个软件错误所需的费用将随着软件生存周期的进展而上升。错误发现得越早，修正它所需的费用就越少。
                            </p>
								 <li>2.IPO原则</li>
								 <p>测试用例由测试输入数据和与之对应的预期输出结果这两部分组成。</p>

								  <li>3.独立测试原则</li>
								  <p>(1)独立测试原则。这是指软件测试工作由在经济上和管理上独立于开发机构的组织进行。程序员应避免检査自己的程序，程序设计机构也不应测试自己开发的程序。软件开发者难以客观、有效地测试自己的软件，而找出那些因为对需求的误解而产生的错误就更加困难。</p>
								  <p>(2)合法和非合法原则。在设计时，测试用例应当包括合法的输入条件和不合法的输入条件。</p>
								  <p>(3)错误群集原则。软件错误呈现群集现象。经验表明，某程序段剩余的错误数目与该程序段中已发现的错误数目成正比，所以应该对错误群集的程序段进行重点测试。</p>
								  <p>(4)严格性原则。严格执行测试计划，排除测试的随意性。</p>
								  <p>(5)覆盖原则。应当对每一个测试结果做全面的检查。</p>
								  <p>(6)定义功能测试原则。检查程序是否做了要做的事仅是成功的一半，另一半是看程序是否做了不属于它做的事。</p>
								   <p>(7)回归测试原则。应妥善保留测试用例，不仅可以用于回归测试，也可以为以后的测试提供参考。</p>
								    <p>(8)错误不可避免原则。在测试时不能首先假设程序中没有错误。</p>

                            <a name="functional-module"></a>
                            <h2 id="functional-module">三、各项目BUG统计：</h2>
                            <p></p>
                            <ul>

                                                                <table class=table11_6>
  <tr>
      {% for key in entry_name_lies %}
        <th>{{ key }}</th>
        {% endfor %}
      {% for key in operation %}
        <th>{{ key }}</th>
        {% endfor %}
  </tr>
  <tr>
              {% for i in projects_list %}
			<tr>
            {% for key,value in i.items %}
                <td>{{ value }}</td>
                             {% endfor %}
             <td><a href="/{{path_url}}/?product={{ i.product }}">详情</a></td>

                </tr>

    {% endfor %}
  </tr>

</table>


                             <object style="border:0px"  type="text/x-scriptlet" data="../static/html/{{All_product_vertical}}" width="100%" height="530" >    </object>
 <object style="border:0px"  type="text/x-scriptlet" data="../static/html/{{All_product_Fanchart}}" width="100%" height="530" >    </object>








                            </ul>

                        </div>
                        <!-- @@@qtcore-index.html -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>
            <a href="http://www.hllok.com/lianxiwomen.jsp" target="_blank">联系我们</a> |
            <a href="http://www.hllok.com/index.jsp" target="_blank">常见问题</a> |
            <a href="http://bbs.hllok.com/forum-4-1.html" target="_blank">意见反馈</a> |
            <a href="http://www.hllok.com" target="_blank">友情链接</a>
        </p>
        <p>
            Copyright © 2008-2020
            <a href="//www.hllok.com" target="_blank">Hllok.com</a> All Rights Reserved 西安火眼智能检测研究院有限公司
        </p>
        <p>中国(陕西)西安高新区科技路旺座国际城C座1101室</p>
        <p><a href="http://www.beian.miit.gov.cn/" target="_blank">陕ICP备14009079号-1</a></p>
        <p><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51019002000701" target="_blank">陕公网安备&nbsp;51019002000701号</a></p>
    </div>
</body>
</html>



